/* Code for header width increase */
/* #ffb600 */

/* till feb19 */
/* #ff9900 */

/* from feb20 */
/* #f7b200 */

html {
	background-color: white;
	margin-top: 0 !important;
}

body {
	font-family: Helvetica, sans-serif !important;
}

.page-id-78583 .content {
	padding-bottom: 0px;
}

body.scheme {
	color: #333 !important;
}

/* .header-wrapper {
	margin-bottom: 2em;
} */

.rev_slider video {
	height: auto !important;
}

@media only screen and (min-width: 1200px) {
	header .col-md-3 {
		width: 20%;
	}

	header .header__right {
		width: 70%;
	}

	header .container,
	footer .container {
		max-width: 1440px;
	}
}

/* @media only screen and (max-width: 480px) {
	body .container {
		max-width: 96%;
	}
} */

a,
a:visited {
	/* color: #007bff; */
	color: #344289;
}
